<div class="container ">
	<div class="row justify-content-center">
	<div class="col-10">
	<%= simple_form_for @item do |f| %>
		<div class="form-group row">
		<%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a Category" }, input_html: { class: "dropdown-toggle" } %>
		</div>
		<div class="form-group row">
		<div class="col-10">
		<%= f.input :title, class: "shadow p-3 mb-3 bg-info rounded" %>
		</div>
		</div>

		<div class="form-group row">
		<%= f.input :description,  class: "col-2 col-form-label text-light form-control shadow rounded", placeholder: "Description of Task"%>
		<div class="col-10"> 
			</div>
        </div>
		<div class="form-group row justify-content-center">
		<%= f.button :submit %>
		</div>
	<% end %>
	</div>
	<div cass="mb-3">
    <%= link_to '[ Cancel ]', items_path, class: "text-info" %>
    </div>
	</div>
</div>