<!DOCTYPE html>
<html>

<head>
    <title>ItsOnmylist</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<body class="d-flex flex-column">
    <%= render 'layouts/navigation' %>
    <div class="container">
        <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
</body>
</html>